<h1>Home page</h1>
<p>Chào mừng Andim đền vời trang Quản lí dữ liệu API của web hoidap247 clone</p>
<p>Người làm : Đinh Văn Hoàng Lân</p>
<p>Trang quản lí này sẽ có </p>
<ul>
    <li>Quản lí người dùng</li>
    <li>Quản lí câu hỏi</li>
    <li>Quản lí cẩu trả lời</li>
    <li>Quản lí bình luận</li>
</ul>
<p>Hãy cho trang quản lí ở header</p>